{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">About</li>
{% endblock %}

{% block content %}
<div class="row mb-4">
  <div class="col-12">
    <strong>VanHack Forum</strong> was built for
    <a href="https://www.vanhack.com/" target="_blank" rel="noopener">VanHack</a> Talent Accelerator program.
    It is avaliable on <a href="https://github.com/pv8/vanhack-forum">GitHub</a>
    under <a href="https://github.com/pv8/vanhack-forum/blob/master/LICENSE">MIT License</a>.
  </div>
</div>
{% endblock %}
